.st-body-grid{
    background-color: #eee;
}
.st-body-flex{
    display: flex;
    background-color: #eee;
    flex-direction: column;

}
.st-home-container{

    display: flex;
    justify-content: center;
    align-items: center;

    flex-grow: 1;
  
   
}

.st-home-container-calendar{
    flex-grow:5;
}

.st-home-container-events{
   
    overflow: scroll;
    flex-grow: 7;
    display: flex;
    flex-direction: column;
}
.body-right{
    background-color: #eee;
   
}
@media only screen and (min-width: 768px) {
    .st-body-grid{
       
        height: 100vh;

    }
    .body-right{
        background-color: #eee;
        margin-top: 50px;
        height: 80vh;
        overflow-y: scroll;
    }
}

