.st-body-grid{
    width: 100vw;
    height: max-content;
    background-color: #fff;
}
.bbbspecial{
    display: grid;
    align-items: center;
    height: 75vh;
    overflow-y: scroll;
    justify-content: center;
}
.nav_cont{
    position: sticky;
    top: 0;
}
.flex_cont{
    display: flex;
    flex-direction: column;
    padding: 22px;
    align-items: center;
}
.search-club {
        display: flex;
    border-radius: 12px;
    text-indent: 14px
}

.search-club:focus {
    color: #495057;
    background-color: #fff;
    border-color: #FF5733;
    outline: 0;
    box-shadow: none
}
.header_bio{
    align-items: center;
    justify-content: center;
    background: #fff;
}
.create_club{
    
    align-self: flex-end;
    align-items: center;
    margin-right: 20px;
    width: max-content;
    background-color: rgb(255, 251, 0);
    color: rgb(226, 21, 21);
    border: 0;
    padding: 15px 40px;
    border-radius: 12px;
    margin: 18px;
}



.searchbox {
    display: flex;
    border-radius: 12px;
    padding: 15px 40px;
    margin-bottom: 10px;
    position: relative;
}

.searchbox i {
    position: absolute;
    left: 8px;
    top: 12px;
    color: #dadada
}
input[type="clubname"] {
    width: 1000px;
}
.header_left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_right{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.pp_class{
    align-items: center;
    justify-content: center;
    max-width: 175px;
    width: auto;
}


@media only screen and (min-width: 768px) {
    .header_right{
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 0;
    }
    
}
