.stm-body-grid{
    width: 100vw;
    height: 100vh;
    background-color: #eee;
}
.bb{
    display: grid;
    align-items: center;
    height: 70vh;
    overflow-y: scroll;
    justify-content: center;

}
.st-body{

    height: 70vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.b{
    margin-top: 20px;
}